:root {
  --primary-color: #ede2dc;
  --heading-color: #ab3b61;
  --secondary-color: #123d6a;
  --button-color: #edc8b8;
  --button-hover-color: #bab2b5;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  color: var(--heading-color);
  font-size: 84px;
}

h3 {
  font-size: 42px;
  color: var(--heading-color);
}

img {
  border-radius: 10px;
}
.hero h2 {
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
  font-size: 32px;
  line-height: 2;
}

.hero p {
  color: var(--secondary-color);
  font-size: 24px;
  font-family: var(--default-font-family);
}
.btn-branding {
  font-family: var(--default-font-family);
  font-size: 24px;
  color: var(--heading-color);
  background-color: var(--button-color);
  padding: 15px 20px;
  border: 1px solid var(--heading-color);
}

.btn-branding:hover {
  background-color: var(--button-hover-color);
  color: var(--heading-color);
  border: 1px solid var(--heading-color);
}

.hero {
  text-align: center;
  padding: 160px 150px;
}

.about-me-heading,
.my-projects,
.project-name {
  color: var(--heading-color);
}

.about-me-heading,
.my-projects {
  margin: 60px auto;
  font-size: 42px;
  text-align: center;
  color: var(--heading-color);
}

.about-me-container {
  padding: 0 150px;
}

.about-me-content {
  padding: 60px 40px;
}

.about-me-paragraph {
  font-size: 18px;
  color: var(--secondary-color);
}

.description {
  color: var(--secondary-color);
  font-size: 20px;
}

.row {
  margin-bottom: 100px;
}

.project-description {
  padding: 10px 30px;
}

.email-link {
  color: var(--heading-color);
  text-decoration: none;
  font-size: 24px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  padding: 30px 120px;
  background-color: #f9b99d;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
  color: var(--secondary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--heading-color);
  background-color: var(--button-color);
  padding: 10px 16px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--button-color);
  background-color: var(--heading-color);
}

nav ul {
  padding: 10px 150px;
  font-size: 20px;
  margin-bottom: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 30px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--heading-color);
}

nav a:hover {
  color: var(--secondary-color);
}

nav li.active a {
  font-weight: bold;
}

@media (max-width: 640px) {
  h1 {
    font-size: 48px;
    margin-top: 10px;
  }

  .hero {
    padding: 30px 40px;
  }

  .navigation-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .container,
  .about-me-content {
    text-align: center;
  }

  .row {
    margin-bottom: 40px;
  }

  .about-me-heading {
    font-size: 36px;
    margin: 30px;
  }

  .about-me-container {
    padding: 0 20px;
  }
  .about-me-content {
    padding: 20px 10px;
  }

  .email-link {
    font-size: 18px;
  }

  nav ul {
    padding: 0;
    margin: 0 auto;
  }

  footer .contact-box {
    padding: 30px;
  }
}
